#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips
        script(src='https://unpkg.com/typed.js@2.0.12/lib/typed.min.js')
        script.
          var typed = new Typed("#footer-banner-tips", {
            strings: ["仗剑独自走天涯", "看看世界的繁华"],
            startDelay: 200,
            backDelay: 2000,
            typeSpeed: 100,
            loop: true,
            backSpeed: 20
          })

    .footer-banner-right
      a.footer-banner-link(href=" " title="Shige") ©2021 - 2022 By 时格
      a.footer-banner-link |
      a.footer-banner-link(href=" " title="EACL") Copyright EACL Shige
      a.footer-banner-link |
      a.footer-banner-link(href="https://icp.gov.moe/?keyword=20210171" title="萌ICP")
        https://icp.gov.moe/images/ico64.png
        span 萌ICP
      a.footer-banner-link.cc(href="https://creativecommons.org/licenses/by-nc-sa/4.0" title="cc协议")
        i.iconfont.icon-cc
        span 协议