/*GitHub开源圆角*/
#card-info-btn {
    border-radius: 7px;
    overflow: hidden;
  }

  
/*底部圆角*/
#pagination .page-number.current {
    border-radius: 14px;
  }


/*外链字体引入*/
@font-face {
	font-family: Efont;
  font-display: swap;
	src: url('https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2') format('woff2')
      }


/*文章页卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 35px;
}

/*顶栏美化*/
#nav .site-page {
  font-size: 0.79em;
  letter-spacing: 3px;
  font-weight: 600;
}

#nav {
  height: 70px;
}
#page-header.nav-fixed #nav {
  top: -70px;
}