/*GitHub开源圆角*/
#card-info-btn {
    border-radius: 7px;
    overflow: hidden;
  }

  
/*底部圆角*/
#pagination .page-number.current {
  background: #2d587a;
  color: #fff;
}
.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
  border-radius: 25px;
}



/*外链字体引入*/
@font-face {
	font-family: Efont;
  font-display: swap;
	src: url('https://cdn-static.sspai.com/ui/iconfont-v1.6/fonts/iconfont.ttf?4pc9bw') format('ttf')
      }

/*顶栏美化*/
#nav .site-page {
  font-size: 0.79em;
  letter-spacing: 3px;
  font-weight: 600;
}

#nav {
  height: 70px;
}
#page-header.nav-fixed #nav {
  top: -70px;
}
